/* ===================================================== *
 *  Waybar - style.css                                   *
 *  Maintainer: winterfox                                *
 * ===================================================== *
 *                                                       *
 *                                                       *
 *  ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗   *
 *  ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗  *
 *  ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝  *
 *  ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗  *
 *  ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║  *
 *   ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝  *
 *                                                       *
 *                                                       *
 * ===================================================== */


/* https://github.com/catppuccin/waybar */
@import "frappe.css";

* {
    /* border: none; */
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font", "Font Awesome 6 Free";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* * { */
/* 	font-family: JetBrainsMono Nerd Font; */
/* 	font-size: 15px; */
/* 	font-weight: bold; */
/* 	border-radius: 0px; */
/* 	transition-property: background-color; */
/* 	transition-duration: 0.5s; */
/* } */

@keyframes blink_red {
    to {
        background-color: @red;
        color: @mantle;
    }
}

.warning, .critical, .urgent {
	animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
	background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.5;
}

window > box {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	background-color: @crust;
	/* border-style: solid; */
	/* border-width: 2px; */
	/* border-color: rgb(171, 233, 179); */
}

#workspaces button {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Sway & Hyprland */
#workspaces button.focused,
#workspaces button.active {
	background-color: @pink;
	color: @mantle;
}

#workspaces button.urgent {
    background-color: @red;
   	color: @mantle;
}

#workspaces button:hover {
    background-color: @teal;
    color: @mantle;
}

tooltip {
  background: @surface0;
}

tooltip label {
  color: @text;
}

#custom-launcher {
    padding-left: 20px;
    padding-right: 15px;
    font-size: 18px;
    color: @lavender;
}

#mode, #clock, #memory, #cpu, #idle_inhibitor, #temperature, #backlight, #pulseaudio, #network, #battery {
	padding-left: 15px;
	padding-right: 15px;
}

#mode {
	margin-left: 10px;
	background-color: @peach;
    color: @mantle;
}

#memory {
	padding-left: 25px;
	color: @pink;
}

#cpu {
	color: @teal;
}

#clock {
	color: @text;
}

#idle_inhibitor {
	color: @mauve;
}

#temperature {
	color: @blue;
}

#backlight {
	color: @peach;
}

#pulseaudio {
	color: @rosewater;
}

#network {
	color: @teal;
}

#battery.charging, #battery.full, #battery.discharging {
	color: @yellow;
}

#battery.critical:not(.charging) {
	color: @red;
}

#custom-off {
	color: @red;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 20px;
}
